version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.api
    ports:
      - "8000:8000"
    volumes:
      - .:/api/fastapi_api_template
    networks:
      - fastapi-network
    environment:
      - FASTAPITEMPLATE_APP_RUNNING_MODE=development
    env_file:
      - docker/dev.env
    depends_on:
      db:
        condition: service_healthy
    command: [ "/bin/bash", "-c", "alembic upgrade head && uvicorn app.main:app --reload --proxy-headers --host 0.0.0.0 --port 8000" ]

  db:
    image: postgres:14
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - fastapi-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 1s
      timeout: 5s
      retries: 10
    env_file:
      - docker/dev.env


networks:
  fastapi-network:
    driver: bridge

volumes:
  postgres-data:


